<div class="row">
  <div class="col-lg-8 mx-auto">
    <%= link_to "&larr; Back to Timeline".html_safe, posts_path, class: "text-decoration-none mb-3 d-inline-block" %>

    <%= render @post %>
  </div>
</div>
